@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --border-construction: repeating-linear-gradient(
        45deg,
        black, black 1em, gold 1em, gold 2em
    ) 20;
}

body {
    margin: 0;
    background: skyblue;
}
body, html {
    overflow-x: hidden;
}
.decoration {
    pointer-events: none;
}
.fixed {
    position: fixed;
}

a {
    color: red;
}

.construction-sign {
    border: 1em solid gold;
    border-image: var(--border-construction);
    width: fit-content;
    padding: 1em;
    background: gold;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Archivo Black", sans-serif;
}
*:not(h1, h2, h3, h4, h5, h6) {
    font-family: "Inter", sans-serif;
}

.rooftop {
    display: block;
    width: calc(100vh + 2em);
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.construction {
    width: calc(100vw - 4em);
    max-width: calc(100vh - 4em);
    background: url("/construction.png");
    background-position: 50% 0;
    margin-left: auto;
    margin-right: auto;

    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    border-image: url("/bar.png");
    border-image-slice: 0 50% 0 50%;
    border-image-outset: 0 1em 0 1em;
}

.construction-floor {
    padding: 1em;
    width: calc(100% - 2em);
    max-width: calc(100vw - 6em);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.construction-title + .construction-floor {
    height: calc(710px - 2em);
}
.construction-floor:not(.construction-title + .construction-floor) {
    height: calc(760px - 2em);
}
.construction-object {
    background: linear-gradient(30deg, silver, lightgray);
    border: .5em solid slategray;
    margin: .5em;
    border-radius: 2em;
    padding: .5em;
    height: fit-content;
    align-self: center;
    flex-grow: 1;
}
.construction-object:nth-child(2n + 1) {
    transform: skewY(-4deg);
}
.construction-object:nth-child(2n) {
    transform: skewY(4deg);
}
.construction-title {
    color: white;
    font-size: 300%;
    flex-basis: 100%;
    height: fit-content;
    height: 50px;
    margin: 0;
    background: black;
    width: fit-content;
}